*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  display: none;
}

.cookie {
  width: 200px;
  height: 300px;
  padding: 15px;

  border-radius: 20px;

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  right: 15px;
  bottom: 200px;

  z-index: 100;
}

.cookie-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.cookie-header svg {
width: 50px;
height: 50px;
padding: 2px;

background-color: orangered;

border-radius: 50px;
}

.cookie-header button {
  width: 20px;
  height: 20px;

  font-weight: bold;
  font-size: 1em;

  border: none;

  background-color: transparent;
  color: white;

  opacity: 0.8;
  cursor: pointer;
}

.cookie-header button:hover {
  opacity: 1;
}

.cookie p {
  text-align: center;
}

.cookie p span {
  color: orangered;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-group button {
  padding: 8px 20px;

  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.btn-group button:hover {
  opacity: 0.9;
}

#orange {
  background-color: orangered;
  color: white;

  border: none;
}

.active {
  display: block;
}

.blur {
  filter: blur(10px);
}

.content{
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  width: 800px;
  height: 400px;

  border:5px solid black;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.5em;

  color: orangered;
}

